</body>
<script>    
       document.querySelector(".pen").addEventListener("click",function(){
        document.querySelector(".poster-pen").click();
      })
      document.querySelector(".poster-pen").addEventListener("change",()=>{
        document.querySelector(".form-submit").submit()
     })
</script>

</html>